<!DOCTYPE html>
<html dir="rtl" lang="en">
<head>
    <!-- TITLE-->
    <title>سایت میلاد</title>
    <!-- FAV ICON -->
    <link rel="shortcut icon" href="~/favicon.ico" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive one page HTML template">
    <meta name="author" content="Netcopy">
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="~/PersonalSiteTemplate/css/bootstrap.min.css" type="text/css" />
    <!-- FONTAWESOME CSS -->
    <link rel="stylesheet" href="~/PersonalSiteTemplate/css/font-awesome.min.css" type="text/css" />
    <!-- OWL CAROUSEL CSS -->
    <link rel="stylesheet" href="~/PersonalSiteTemplate/css/owl.carousel.min.css" type="text/css" />
    <!-- ANIMATE CSS -->
    <link rel="stylesheet" href="~/PersonalSiteTemplate/css/animate.min.css" type="text/css" />
    <!-- LIGHTBOX CSS -->
    <link rel="stylesheet" href="~/PersonalSiteTemplate/css/lightbox.min.css" type="text/css" />
    <!-- YTPLAYER CSS -->
    <link rel="stylesheet" href="~/PersonalSiteTemplate/css/mb.YTPlayer.min.css" type="text/css" />
    <!-- FLATICON CSS -->
    <link rel="stylesheet" href="~/PersonalSiteTemplate/css/flaticon.css" type="text/css" />
    <!-- BOOTSTRAP VALIDATOR CSS -->
    <link rel="stylesheet" href="~/PersonalSiteTemplate/css/validator.min.css" type="text/css" />
    <!-- THEME STYLE CSS -->
    <link rel="stylesheet" href="~/PersonalSiteTemplate/css/style.css" type="text/css" />
    <!-- Latest IE rendering engine & Chrome Frame Meta Tags -->
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <![endif]-->
</head>
<body data-spy="scroll" data-offset="62">

    <!-- Page Loader -->
    <div class="page-loader"></div>

    <div class="main-wrap">

        <!-- Fixed Navbar -->
        <nav class="navbar navbar-sticky navbar-transparent">
            <!-- Navbar Transparent Class: navbar-transparent -->
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand primary-logo" href="#"><img class="img-responsive" src="~/PersonalSiteTemplate/images/logo-theme.png" alt="Logo" /></a>
                    <a class="navbar-brand sticky-logo" href="#"><img class="img-responsive" src="~/PersonalSiteTemplate/images/logo.png" alt="Logo" /></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav pull-right">
                        <li class="active"><a href="#home">خانه</a></li>
                        <li><a href="#about">درباره ما</a></li>
                        <li><a href="#service">سرویس ها</a></li>
                        <li><a href="#portfolio">نمونه کار ها</a></li>
                        <li><a href="#plans">قیمت ها</a></li>
                        <li><a href="#blog">وبلاگ</a></li>
                        <li><a href="#contact">تماس با ما</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        @RenderBody()
        <!-- Footer Start -->
        <footer class="footer padding-tb-30 primary-section-bg section-typo-white">
            <div class="container">
                <div class="row text-center margin-bottom-20">
                    <div class="col-md-12">
                        <ul class="nav navbar-nav footer-social">
                            <li><a href="#" class="social-facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="social-twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="social-pinterest"><i class="fa fa-pinterest-p"></i></a></li>
                            <li><a href="#" class="social-instagram"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#" class="social-google-plus"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <p class="copyright-text">قدرت گرفته از <a href="https://milad.com">میلاد</a></p>
                    </div>
                </div>
            </div>
            <a href="#" class="back-to-top" id="back-to-top"><i class="fa fa-angle-up"></i></a>
        </footer>
        <!-- Footer End -->

    </div><!-- .main-wrap -->
    <!-- JQUERY LIBRARY -->
    <script src="~/PersonalSiteTemplate/js/jquery.min.js"></script>
    <!-- BOOTSTRAP JS -->
    <script src="~/PersonalSiteTemplate/js/bootstrap.min.js"></script>
    <!-- OWL CAROUSEL JS -->
    <script src="~/PersonalSiteTemplate/js/owl.carousel.min.js"></script>
    <!-- APPEARS JS -->
    <script src="~/PersonalSiteTemplate/js/jquery.appear.js"></script>
    <!-- EASING JS -->
    <script src="~/PersonalSiteTemplate/js/jquery.easing.min.js"></script>
    <!-- STELLAR JS -->
    <script src="~/PersonalSiteTemplate/js/jquery.stellar.min.js"></script>
    <!-- COUNTER JS -->
    <script src="~/PersonalSiteTemplate/js/jquery.counterup.min.js"></script>
    <!-- ISOTOPE JS -->
    <script src="~/PersonalSiteTemplate/js/isotope.pkgd.min.js"></script>
    <!-- LIGHTBOX JS -->
    <script src="~/PersonalSiteTemplate/js/lightbox.min.js"></script>
    <!-- YTPLAYER JS -->
    <script src="~/PersonalSiteTemplate/js/jquery.mb.YTPlayer.min.js"></script>
    <!-- BOOTSTRAP VALIDATOR JS -->
    <script src="~/PersonalSiteTemplate/js/validator.min.js"></script>
    <!-- THEME JS -->
    <script src="~/PersonalSiteTemplate/js/theme.js"></script>

    <script src="~/js/site.js"></script>
    <!-- GOOGLE MAP INIT JS -->
    @*<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtkY02zM_XV3XtSzJbNwJdiA2iuNmP_bI&callback=initStarkContact" type="text/javascript"></script>*@
    @RenderSection("Scripts",false)
</body>
</html>

