@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "اضافه کردن بخش پروژه";
    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";
}

<section class="basic-elements">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title mb-0">@ViewData["Title"]</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <div class="form">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput">عنوان</label>
                                            <input type="text" class="form-control" id="Title">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="helpInputTop">توضیحات</label>
                                            <input type="text" class="form-control" id="Description">
                                        </fieldset>
                                    </div>

                                    <br class="clear" />
                                    <div class="col-xl-2 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput">نوع پروژه</label>
                                            <input type="text" class="form-control" id="txtItemProjectType"/>
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-2 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput">عنوان</label>
                                            <input type="text" class="form-control" id="txtItemTitle" />
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-2 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput">توضیحات</label>
                                            <input type="text" class="form-control" id="txtItemDescription"/>
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-2 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput">لینک</label>
                                            <input type="text" class="form-control" id="txtItemLink" />
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-2 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicInput">تصویر</label>
                                            <input type="text" class="form-control" id="txtItemImage"/>
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-2 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <br />
                                            <a class="btn btn-success" id="btnAddItem">افزودن</a>
                                        </fieldset>
                                    </div>

                                    <table id="tblItems" class="col-md-12 table table-bordered table-hover table-condensed table-responsive">
                                        <thead>
                                            <tr>
                                                <th>
                                                    نوع پروژه
                                                </th>
                                                <th>
                                                    عنوان
                                                </th>
                                                <th>
                                                    توضیحات
                                                </th>
                                                <th>
                                                    لینک
                                                </th>
                                                <th>
                                                    تصویر
                                                </th>
                                                <th>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>


                                    <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <br />
                                            <a onclick="Save()" class="btn btn-success col-md-12">ثبت</a>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts
    {
    <link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Sweetalert2/sweetalert2.min.js"></script>
    <script>
        $("#btnAddItem").on("click", function () {
            var txtItemProjectType = $("#txtItemProjectType").val();
            var txtItemTitle = $("#txtItemTitle").val();
            var txtItemDescription = $("#txtItemDescription").val();
            var txtItemLink = $("#txtItemLink").val();
            var txtItemImage = $("#txtItemImage").val();
            if (txtItemProjectType == "" || txtItemTitle == "" || txtItemDescription == ""
                || txtItemLink == "" || txtItemImage == "") {
                swal.fire(
                    'هشدار!',
                    "تمام مقادیر را باید وارد کنید",
                    'warning'
                );
            }
            else {
                $('#tblItems tbody').append('<tr> ' +
                    '<td>' + txtItemProjectType + '</td>' +
                    '<td>' + txtItemTitle + '</td>' +
                    '<td>' + txtItemDescription + '</td>' +
                    '<td>' + txtItemLink + '</td>' +
                    '<td>' + txtItemImage + '</td>' +
                    '<td> <a class="btnDeleteItems btn btn-danger">حذف</a> </td> </tr>');
                $("#txtItemProjectType").val('');
                $("#txtItemTitle").val('');
                $("#txtItemDescription").val('');
                $("#txtItemLink").val('');
                $("#txtItemImage").val('');
            }
        });

        $("#tblItems").on('click', '.btnDeleteItems', function () {
            $(this).closest('tr').remove();
        });

        function Save() {
            var dataItemsViewModel = $('#tblItems tr:gt(0)').map(function () {
                return {
                    ProjectType: $(this.cells[0]).text(),
                    Title: $(this.cells[1]).text(),
                    Description: $(this.cells[2]).text(),
                    Link: $(this.cells[3]).text(),
                    Image: $(this.cells[4]).text(),
                };
            }).get();
            callAjaxPost(
                'ذخیره اطلاعات',
                'آیا میخواهید اطلاعات ذخیره شود؟',
                'بله ذخیره شود',
                'خیر',
                'application/x-www-form-urlencoded',
                'json',
                'Create',
                {
                    'Title': $("#Title").val(),
                    'Description': $("#Description").val(),
                    ProjectItems: dataItemsViewModel
                }
            );
        }
    </script>
}